// Custom styles.
// 自定义的文章置顶样式
.post-sticky-flag {
    font-size: inherit;
    float: left;
    color: rgb(0, 0, 0);
    cursor: help;
    transition-duration: 0.2s;
    transition-timing-function: ease-in-out;
    transition-delay: 0s;
}
.post-sticky-flag:hover {
    
    color: #07b39b;
}

body{
    background:#beddd6;
}

.content-wrap,.header-inner,.sidebar-inner{
    margin-top:10px;
}

.sidebar{
    width:0px;
    margin-top:342px;
}
